@import url("https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  font-family: "title";
  src: url("../fonts/title2.ttf") format("truetype");
}
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tinos", serif;
  font-size: 20px;
}
body {
  overflow: auto;
  background-color: #8ec5ffa4;
}
body section {
  margin: 50px;
}
.segment {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  padding: 0 10px;
}

/* css for signup and login */
.container {
  background: #aadafcc0;
  max-width: 550px;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 0 100px 50px rgba(89, 0, 255, 0.448),
    0 32px 64px -48px rgb(145, 99, 237);
  animation: fadeIn 0.5s ease forwards;
}
.hidden {
  display: none;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

.signup {
  margin: 50px;
}
.signup header {
  font-size: 40px;
  color: #332e2e;
  text-align: center;
  text-shadow: 4px 1px 5px #31333f;
  font-family: "DM Serif Display", serif;
}
.signup .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.signup .field label {
  color: black;
  font-weight: 600;
  padding-bottom: 2px;
  font-size: 17px;
}
.signup .field #notmatch {
  margin-top: 5px;
  color: red;
  display: none;
  font-size: 18px;
}
.signup .field input {
  border-radius: 5px;
  padding: 10px;
  height: 40px;
  width: 100%;
  border: 2px solid #ccc;
}
.signup .field.input input:hover {
  border-color: #3b3b3b;
}

.signup .field.button input {
  background-color: #ffffff;
  width: 40%;
  display: block;
  margin: 0 auto;
  padding: 1px;
  font-size: 20px;
  border: 1px solid #9f9f9f;
  font-weight: bolder;
  transition: transform 0.3s ease;
}

.signup .field.button input:hover {
  background-color: #000000d6;
  cursor: pointer;
  color: #ffffff;
  transform: scale(1.1);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.link {
  text-align: center;
}
.link a {
  color: rgb(0, 81, 255);
  text-decoration: none;
}
.link a:hover {
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* styling home page */

.navi {
  position: fixed;
  left: 0;
  top: 60px;
  width: 100%;
  margin: 0 auto;
  background-color: #0077ff;
  text-align: center;
  padding: 10px;
  overflow: hidden;
  z-index: 1000;
}
.navi ul {
  list-style-type: none;
  padding: 0;
}

.navi li {
  display: inline-block;
  margin: 0 40px;
  font-size: 18px;
}

.navi li a {
  text-decoration: none;
  font-weight: bolder;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}
li a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
header.title {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  background-color: #2489fd;
  text-align: center;
  color: white;
  padding: 10px;
  overflow: hidden;
  z-index: 1000;
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 3px;
  font-family: "title";
  -webkit-text-stroke: 2px black;
}
main {
  padding-top: 60px;
}
#about {
  background-color: #ffffff;
  padding: 30px;
  width: 95%;
  margin: 0 auto;
  border: 4px solid rgb(75, 75, 75);
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
}
#about ul {
  list-style-type: none;
  padding: 0;
  color: white;
  background-color: #3b3b3b;
  border-radius: 5px;
  border: 4px solid white;
}
#about ul li p {
  margin-left: 20px;
  color: #000000;
}

#about header {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 10px;
  padding-top: 10px;
}

summary {
  font-weight: bold;
  cursor: pointer;
}
details {
  padding: 10px;
  margin-bottom: 5px;
}

details[open] {
  background-color: #f0f0f0;
  color: #000;
  border: 4px solid #4582c2;
}

#contact header {
  padding: 8px;
  font-size: 20px;
  margin: 0 auto;
  max-width: 15%;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

#contact {
  /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the section horizontally */
  padding: 30px; /* Add padding to the section content */
  border: 4px solid rgb(75, 75, 75);
  margin-bottom: 10px;
  width: 95%;
  background-color: #ffffff;
}

#contact address {
  padding: 10px;
  border-radius: 2px;
  font-size: medium;
  color: rgb(255, 255, 255);
  background-color: #3b3b3b;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0077ff;
  color: white;
  text-align: center;
  padding: 10px 0;
}
small {
  margin-right: 5px;
  font-size: medium;
  padding: 10px;
  color: rgb(255, 255, 255);
}
section {
  margin-top: 10px;
}

/* style for add.html */

.container header {
  font-size: 40px;
  margin: 10px;
  color: #000000;
  text-align: center;
  text-shadow: 4px 1px 5px #31333f;
  font-family: "DM Serif Display", serif;
}

.car-details label {
  padding-left: 10px;
  margin-left: 15px;
  display: block;
  font-weight: bold;
}

.container .car-details input {
  border-radius: 5px;
  padding: 10px;
  height: 40px;
  width: 90%;
  margin: 5px 0 0px 20px;
  border: 2px solid #9e9d9d;
  background: none;
}
.container .car-details.button input {
  background-color: #ffffff;
  width: 30%;
  display: block;
  margin: 20px auto;
  padding: 1px;
  font-size: 20px;
  border: 1px solid #9f9f9f;
  font-weight: bolder;
  transition: transform 0.3s ease;
}
.container .car-details.button input:hover {
  background-color: #ff0000d6;
  cursor: pointer;
  color: #ffffff;
  transform: scale(1.1);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.container .car-details input:hover {
  border-color: #ffffff;
  cursor: pointer;
}

/* style for verify.php */

.wrap {
  display: flex;
  justify-content: center;
  max-height: 30vh;
  align-items: center;
  padding: 0 10px;
  background-color: antiquewhite;
}

.verify-container {
  width: 90%;
  height: 80%;
  border: 2px solid black;
  box-shadow: 5px 1px 100px 5px rgba(0, 213, 255, 0.448);
}

.verify-container header {
  font-size: 50px;
  margin-top: 10px;
  color: #332e2e;
  text-align: center;
  text-shadow: 4px 1px 5px #31333f;
  font-family: "DM Serif Display", serif;
}
.verify-container button {
  width: 20%;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  margin: 0 auto;
  margin-bottom: 5px;
}

.verify-container button:hover {
  background-color: green;
  color: white;
  border-color: #f8f8f8;
  transform: scale(1.1);
  font-weight: bolder;
  box-shadow: 0 0 10px 5px black;
}

#verify {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
}

.wrap {
  display: flex;
  justify-content: center;
  max-height: 43vh;
  align-items: center;
  padding: 0 10px;
  background-color: #dbf0ff;
  position: relative;
  width: 700px; /* Set the desired width */
  height: 500px; /* Set the desired height */
  margin: 0 auto; /* Center horizontally */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.verify-container p {
  font-size: 23px;
  text-align: none;
  padding: 15px;
}

/* style for verified mail */

#verified {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
}

/* style for slider function */

.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
}
.slide-container .carousel-container {
  width: 85%;
  height: 70vh;
  border-radius: 10px;
  box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.448),
    0 32px 64px -48px rgb(0, 0, 0);
  border: 4px solid rgb(255, 255, 255);
  overflow: hidden;
}

.carousel-slide {
  display: grid;
  position: relative; /* Ensure proper positioning for absolute child elements */
  grid-template-columns: repeat(6, 100%);
  height: 100%;
  width: 100%;
  animation: slide 30s ease-in-out infinite alternate;
}

.carousel-item img {
  width: 100%; /* Make the image fill the entire width of its container */
  height: 100%; /* Maintain aspect ratio */
  transition: transform 0.3s ease; /* Optional: Add a smooth transition effect */
}

.carousel-item:after {
  content: "";
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),
    url("path/to/your-image.jpg");
  background-size: cover;
  z-index: 1; /* Ensure the overlay is above the image */
}

.carousel-item img:hover {
  transform: scale(1.05); /* Optional: Increase image size on hover */
}

.carousel-item .carousel-caption {
  position: absolute;
  z-index: 2;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(-100%);
  }
  20% {
    transform: translateX(-100%);
  }
  30% {
    transform: translateX(-200%);
  }
  40% {
    transform: translateX(-200%);
  }
  50% {
    transform: translateX(-200%);
  }
  60% {
    transform: translateX(-300%);
  }
  70% {
    transform: translateX(-300%);
  }
  80% {
    transform: translateX(-300%);
  }
  90% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0%);
  }
}
.carousel-item {
  /* Adjust width as needed */
  position: relative;
}

.carousel-item img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; /* Optional: Add border radius for rounded corners */
}

.carousel-caption {
  position: absolute;
  margin: 20px;
  bottom: 0; /* Position the caption at the bottom of the image */
  left: 0; /* Align the caption to the left */
  width: auto; /* Make the caption span the entire width of its container */
  padding: auto; /* Add padding to the caption */
  /* Semi-transparent background color */
  color: white; /* Text color */
}

.carousel-caption h2 {
  text-transform: uppercase;
  margin-left: 25px; /* Remove default margin */
  font-size: 40px; /* Adjust font size as needed */
}

.carousel-caption p,
.carlist h2 {
  margin-left: 25px; /* Adjust margin as needed */
  font-size: 30pxpx; /* Adjust font size as needed */
}

/* style for aside */
.booking {
  background-color: #ffffff;
  margin-top: 40px;
  max-width: 95%;
  margin: 0 auto;
  padding: 40px;
  margin-bottom: 45px;
  border: 4px solid rgb(75, 75, 75);
}

.booking .booking-details {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: auto;
}

.booking .booking-details input {
  padding: 10px;
  width: auto;
  border: 2px solid black;
  border-radius: 5px;
}
.form-head {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: "title2";
  font-weight: bolder;
}
.booking .booking-details #confirm {
  width: auto;
  margin: auto;
}

.booking .booking-details #adr {
  padding: 40px;
}

body .home-body {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, Main, Footer */
  min-height: 100vh;
}
/* Apply flexbox to arrange header, main, aside, and footer */
@media only screen and (min-width: 768px) {
  .row {
    display: grid;
    grid-template-columns: 3fr 1fr; /* Main and Aside */
  }
  aside {
    width: 25%;
    position: fixed;
    top: 17%;
    right: 0;
    height: 100%;
  }
  main,
  aside {
    padding: 20px;
  }
}
@media (max-width: 800px) {
  /* Set row display and make each item occupy 100% width */
  .row {
    display: flex;
    flex-direction: column;
  }

  /* Set main and aside to occupy 100% width */
  .main,
  .aside {
    width: 100%;
    position: static; /* Remove fixed positioning */
    height: auto; /* Reset height to auto */
  }
}

/* style for carslist */

.car-item {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  justify-content: center;
  background-color: #f6f0f0;
  margin-bottom: 10px;
  padding: 25px;
}
.car-list {
  padding: 15px;
  text-align: center;
}

.car-item img {
  width: 90%;
  height: 40vh; /* Adjust image size as needed */
  margin-bottom: 10px;
  border-radius: 5px;
  border: 3px solid black;
}

.book-btn {
  background-color: #007bff;
  color: white;
  width: auto;
  border: none;
  padding: 5px 40px;
  border-radius: 5px;
  cursor: pointer;
}

.book-btn:hover {
  background-color: #0056b3;
}

.list-caption {
  position: relative;
  color: rgb(0, 0, 0);
  width: auto; /* Make the caption span the entire width of its container */
  padding: auto;
  text-align: center;
}
.list-caption h2 {
  font-size: 30px;
  text-transform: uppercase;
}


/* style for admin page */

.admin-btn-style i{
  margin: 5px;
}

.admin{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 20px;
  background-color: #dbf0ff;
  
}

.admin-container{
  padding: 40px;
  width: 100%;
  height: 100%;
}

.admin-table{
  padding: 10px;
  width: 95%;
  background-color: white;
}

table{
  padding: 20px;
  width: 100%;
  border-collapse: collapse;
  
}

table,th,td{
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid black;
}

.admin-table i{
  padding: 10px;
  color: white;
}

.admin-table a{
  background-color: rgb(63, 63, 63);
  padding:2px;
  margin:5px;
  border: 2px solid #4582c2 ;
}

.head-admin{
    font-size: 40px;
  color: #332e2e;
  text-align: center;
  text-shadow: 4px 1px 5px #31333f;
  font-family:"display"
}

.add-btn{
  padding: 15px;
  float: right;
  margin: 10px;
  position: static;
   display: inline-block;
  background-color: green;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 60px;
}

.add-btn:hover{
  background-color: #000;
  color: white;
}

.list-details h2{
  padding: 15px;
  float: left;
  margin: 10px;
  position: static;
  background-color: #000;
   display: inline-block;
   font-weight: bolder;
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-left: 60px;
}
